body {
    background: #f7f7f7;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    max-width: 900px;
    margin: auto;
}

.content {
    display: table;
}

.photo {
    display: table-cell;
    float: left;
    padding: 5px;
    margin: 0px 10px 10px 0;
    max-width: 120px;
    border: 1px solid #505050;
}

#title, .subtitle, .post-title {
    color: #505050;
}

#title {
    font-size: 40px;
    text-transform: uppercase;
    display: table-cell;
    float: left;
    padding-top: 25px;
    align-self: center;
}

a {
    text-decoration: line-through;
    color: #505050;
}

a:hover {
    text-decoration: chocolate;
    color: blue;
}

.post-title {
    font-size: 16;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background: #ccc;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 15px;
}

.post-content {
    margin: 0;
    margin-bottom: 15px;
    text-transform: capitalize;
    text-align: justify;
}

#post-image {
    margin-bottom: 15px;
    width: 100%;
    height: auto;
}

.contact-list {
    list-style-type: none;
    padding-left: 15px;
}

.contact-list li a {
    text-decoration: none;
}